.container{
    max-width:600px;
}
.btn{
    background:beige;
    color:black;
    outline: none !important;
    box-shadow: none !important;
}
.btn:focus{
    outline : none !important;
}

.username{
    font-weight:bolder;
}
.time{
    font-size: 0.8em;
    color:chocolate;
}
.update-message{
    text-align:center;
    margin : 30px auto;
}